<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ https://easymenuplanner-easymenuplanner.b9ad.pro-us-east-1.openshiftapps.com/$1 [NC,P]
    
    ProxyPass / https://easymenuplanner-easymenuplanner.b9ad.pro-us-east-1.openshiftapps.com/
    ProxyPassReverse / https://easymenuplanner-easymenuplanner.b9ad.pro-us-east-1.openshiftapps.com/
    RewriteRule ^/(.*)$ https://easymenuplanner-easymenuplanner.b9ad.pro-us-east-1.openshiftapps.com/$1 [R]
</IfModule>
